/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Nav */
nav {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e8e8e4;
}

a {
  font-size: 1.2rem;
  padding: 1rem;
  text-decoration: none;
  color: black;
}

/* Home */
h1 {
  font-size: 2rem;
  font-weight: bold;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  margin-top: 1rem;
}

.home img {
  width: 100%;
  height: 700px;
  object-fit: cover;
}

.home {
  text-align: center;
}

.home h1 {
  margin-bottom: 1rem;
}

.home h2 {
  margin-top: 1rem;
  font-size: 1.5rem;
}

.home button {
  margin-top: 1rem;
  background-color: orange;
  color: white;
  padding: .6rem;
  border-radius: 15px;
  font-size: 1rem;
}

/* Forms */
.form-container {
  text-align: center;
}

.form-container h1 {
  margin-bottom: 1rem;
}

.form-container button {
  margin-top: 1rem;
}

#login-success {
  margin-top: 5rem;
  color: grey;
  font-size: 1.3rem;
  border: 1px solid #e8e8e4;
  border-radius: 20px;
  padding: 4.5rem;
  display: inline-block;
}

/* Dashboard */
.dashboard {
  text-align: center;
}

.dashboard h1 {
  text-decoration: underline 5px solid orange;
}

.dashboard button {
  margin-top: 1rem;
  background-color: orange;
  color: white;
  padding: .6rem;
  border-radius: 15px;
  font-size: 1rem;
}

.potluck-card-details {
  border: 1px solid red;
  width: fit-content;
  padding: 10px;
}

.potluck-card {
  display: flex;
  width: 90%;
  margin-top: 2rem;
  font-size: 1.2rem;
  line-height: 1.5;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border: 1px solid black;
}

.potluck-card h2 {
  font-weight: bold;
  font-size: 1.4rem;
  margin-bottom: .5rem;
}

.potluck-card p {
  text-transform: capitalize;
}

.potluck-card span{
  font-weight: bold;
}

.dashboard h2 {
  margin-top: 20px;
}
