/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Nav */
nav {
  display: flex;
  justify-content: space-between;
  background-color: #d62828;
}

a {
  font-size: 1.3rem;
  padding: 1.3rem;
  text-decoration: none;
  color: white;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

a:hover {
  background-color: white;
  color: #d62828;
}

/* Home */
h1 {
  font-size: 2rem;
  font-weight: bold;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  margin-top: 1rem;
}

.home img {
  width: 100%;
  height: 700px;
  max-height: 70vh;
  object-fit: cover;
}

.home {
  text-align: center;
}

.home h1 {
  margin-bottom: 1rem;
}

.home h2 {
  margin-top: 1rem;
  font-size: 1.5rem;
}

.home button {
  margin-top: 1rem;
  background-color: orange;
  color: white;
  padding: .6rem;
  border-radius: 15px;
  font-size: 1rem;
}

/* Forms */
.form-container {
  text-align: center;
}

.form-container h1 {
  margin-bottom: 1rem;
}

.form-container button {
  margin-top: 1rem;
}

.form-container .cta {
  font-size: 1.3rem;
  padding: 1.3rem;
  text-decoration: none;
  color: white;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #fcbf49;
  padding: 2px;
  border: 1px solid #fcbf49;
  border-radius: 2px;
}

.form-container .cta:hover {
  background-color: white;
  color: #fcbf49;
}

#login-success {
  margin-top: 5rem;
  color: grey;
  font-size: 1.3rem;
  border: 1px solid #e8e8e4;
  border-radius: 20px;
  padding: 4.5rem;
  display: inline-block;
}

/* Dashboard */
.dashboard {
  text-align: center;
}

.dashboard h1 {
  text-decoration: underline 5px solid orange;
}

.dashboard h2 {
  margin-top: 20px;
}

.dashboard button {
  margin-top: 1rem;
  background-color: orange;
  color: white;
  padding: .6rem;
  border-radius: 15px;
  font-size: 1rem;
}

.potluck-card-details {
  border: 1px solid #d8e2dc;
  border-radius: 13px;
  width: 10rem;
  padding: 45px 30px;
  box-shadow: -13px 13px 20px rgba(0, 0, 0, .15);
  margin-right: 3.5rem;
}

.potluck-card-details:hover {
  cursor: pointer;
}

.potluck-card {
  display: flex;
  width: 90%;
  margin: 2rem auto 0 auto;
  font-size: 1.2rem;
  line-height: 1.5;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  /* border: 1px solid black; */
}

.potluck-card h2 {
  font-weight: bold;
  font-size: 1.4rem;
  margin-bottom: .5rem;
}

.potluck-card p {
  text-transform: capitalize;
}

.potluck-card span{
  font-weight: bold;
}

/* Potluck Card */
main {
  min-height: 100vh;
  background: linear-gradient(to right top, #f77f00, #fcbf49);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background: white;
  min-height: 70vh;
  width: 40%;
  position: relative;
  bottom: 1rem;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, .7),
    rgba(255, 255, 255, .3));
  border-radius: 2rem;
  text-align: center;
}

.food-items button {
  background-color: orange;
  color: white;
  padding: .7rem;
  border-radius: 15px;
  font-size: 1.2rem;
  margin-top: 2.5rem;
}

#invite {
  display: block;
  margin: 0 auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: blue;
  text-align: center;
}

#copy {
  display: block;
  margin: 0 auto;
  background-color: royalblue;
  border-radius: 6px;
  padding: .4rem;
}

.food-items {
  text-align: center;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  position: relative;
  bottom: 3rem;
}

.card h1 {
  font-weight: normal;
}

.food-items h2 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.4rem;
  text-decoration: underline;
}

.food-items ul {
  line-height: 1.3;
}

.food-items li {
  font-size: 1.1rem;
}

.food-items input {
  margin-top: 1rem;
}

.food-items span {
  font-weight: bold;
}

.food-items p {
  margin-top: 0.5rem;
}

.food-items {
  padding: 95px 0;
}

.food-items button {
  background-color: red;
  color: white;
  padding: 2px;
  font-size: 0.75rem;
  border: solid red 1px;
  border-radius: 5px;
  margin: 0;
}

.food-items a:hover {
  background-color: white;
  color: red;
}

/* body {
  overflow: hidden;
} */

.invitation {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  margin: auto;
}

.error {
  color: red;
  margin: 5px;
}

.food-table {
  display: flex;
  margin: auto;
  justify-content: center;
}

.table-column {
  display: flex;
  flex-flow: column nowrap;
  margin:  0px 20px;
  justify-content: space-evenly;
}

.table-cell {
  display: block;
  margin: 4px 0px;
}

/* Signup Success Message */
#signup-success {
  color: #33FF36;
  font-size: 1.8rem;
  margin-top: 1rem;
}

#username {
  color: red;
}

/* Create Potluck Form */
.potluck-form-container {
  text-align: center;
  border: 1px solid red;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.2rem;
  background: linear-gradient(
    to right bottom,
    #f77f00,
    #fcbf49
);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.potluck-form {
  background-color: white;
  width: 40%;
  height: 60vh;
  margin-bottom: 3rem;
  border-radius: 15px;
  background: linear-gradient(
    to right bottom,
  rgba(255, 255, 255, .7),
  rgba(255, 255, 255, .3)
  );
}

.potluck-form input {
  margin-bottom: 1rem;
  padding: 5px;
  border-radius: 10px;
  font-size: 1rem;
}

.potluck-form button {
  margin-bottom: 1rem;
  display: block;
  position: relative;
  left: 42%;
  background-color: dodgerblue;
  color: white;
  padding: 10px 30px;
  border-radius: 10px;
  font-size: 1.2rem;
}

.potluck-form button:hover {
  cursor: pointer;
}

.potluck-form h1 {
  margin-top: 6rem;
  margin-bottom: 1.5rem;
  text-decoration: underline 5px dodgerblue;
}